.gitignore# dependencies
node_modules/

# nuxt build
.nuxt/
dist/

# production
.output/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env
.env
.env.*

# macOS
.DS_Store

# Windows
Thumbs.db

# IDE
.vscode/
.idea/

# cache
.cache/

# misc
coverage/